 
 button{
        padding: 15px 32px;
        margin: 50px 10px ;
        transform: scale(1.1);

    }
    .btn-primary{
        background-color: transparent;
        border: 1px solid blue;
        color: blue;
        cursor: pointer;
        border-radius: 5px;
    }

    .btn-primary:hover{
        background-color: blue;
        color: white;
        transition:all 0.3s;     

    }

    .btn-secondary{
        background-color: transparent;
        color:gray;
        border: 1px solid gray;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-secondary:hover{
        background-color: blueviolet;
        color: white;
        transform: scaleZ(1.1);
    }

    .btn-success{
        background-color: transparent;
        color: green;
        border: 1px solid green;
        border-radius: 5px;
        cursor: pointer;

    }

    .btn-success:hover{
        background-color: aqua;
        color: black;
        transition: all 0.3s;
        transform: scaleY(1.1);
    }

    .btn-danger{
        background-color: red;
        border: 1px solid red;
        color: white;
        border-radius: 5px;
        transition: all 0.3s;
        cursor: pointer;
    }
    .btn-danger:hover{
        background-color: rgb(219, 22, 22);
        color: aliceblue;
        transform: rotate(90deg);

    }
    .btn-light{
        background-color: transparent;
        color: white;
        border:1px solid white;
        border-radius: 5px;
    }

    .btn-light:hover{
        background-color: blue;
        color: white;
        transform: scale(1.1);
    }

    .btn-warning{
        background-color: transparent;
        color: gold;
        border-radius: 5px;
        border: 1px solid gold;
    }

    .btn-warning:hover{
        transform: rotate(300deg);
        background-color: goldenrod;
        color: black;
    }

    .btn-info{
        background-color: transparent;
        color: rgb(10, 120, 120);
        border: 1px solid rgb(7, 138, 138);
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-info:hover{
        background-color: chartreuse;
        color: rgb(6, 23, 38);
        transform: rotate(0.3s);
        transform: scale(1.3);
    }

    .btn-dark{
        background-color: transparent;
        color: black;
        border: 1px solid black;
        cursor: pointer;
        border-radius: 5px;
    }

    .btn-dark:hover{
        background-color: aquamarine;
        transform: scale(1.3);
        color: rgb(1, 35, 35);
        border: 2px solid red;

    }

    .btn-primary1{
        background-color: blue;
        border: 1px solid rgb(11, 11, 241);
        color: rgb(234, 234, 243);
        cursor: pointer;
        border-radius: 5px;
    }

    .btn-primary1:hover{
        background-color: transparent;
        color: rgb(11, 9, 9);
        transition:all 0.3s;     

    }

    .btn-secondary1{
        background-color: gray;
        color:rgb(246, 243, 243);
        border: 1px solid gray;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-secondary1:hover{
        background-color: rgb(43, 226, 80);
        color: white;
        transform: scaleZ(1.0);
    }

    .btn-success1{
        background-color: green;
        color: rgb(236, 243, 236);
        border: 1px solid green;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;

    }

    .btn-success1:hover{
        background-color: aqua;
        color: black;
        transition: all 0.3s;
        transform: scale(0.2);
    }

    .btn-danger1{
        background-color: red;
        border: 1px solid red;
        color: white;
        border-radius: 5px;
        transition: all 0.3s;
        cursor: pointer;
    }
    .btn-danger1:hover{
        background-color: rgb(133, 65, 65);
        color: aliceblue;
       transform: rotate(0.1);

    }
    .btn-light1{
        background-color:rgb(217, 221, 222);
        color: rgb(11, 8, 8);
        border:1px solid white;
        border-radius: 5px;
        cursor: pointer;
        border-radius: 5px;
    }

    .btn-light1:hover{
        background-color: rgb(52, 52, 62);
        color: white;
        transform: scale(1.1);
        outline: 3px solid black;
    }

    .btn-warning1{
        background-color: gold;
        color: rgb(27, 21, 1);
        border-radius: 5px;
        border: 1px solid gold;
    }

    .btn-warning1:hover{
        transform: rotate(30deg);
        color: black;
    }

    .btn-info1{
        background-color: rgb(13, 152, 195);
        color: rgb(3, 23, 23);
        border: 1px solid rgb(7, 138, 138);
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-info1:hover{
        color: rgb(6, 23, 38);
        transform: rotate(0.3s);
        transform: scale(1.3);
    }

    .btn-dark1{
        background-color: black;
        color: rgb(244, 239, 239);
        border: 1px solid black;
        cursor: pointer;
        border-radius: 5px;
    }

    .btn-dark1:hover{
        transform: scale(1.3);
        color: rgb(228, 238, 238);
        outline: 3px solid gold;
    }
